@model List<ClienteModel>

<h1>Lista de Clientes</h1>

<!-- Botón para agregar un nuevo cliente -->
<a href="/Home/Privacy" class="btn btn-primary">Agregar Cliente</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Cedula_RUC</td>
                <td>@cliente.Nombre</td>
                <td>@cliente.Apellido</td>
                <td>@cliente.Edad</td>
                <td>
                    <a href="/Home/Privacy?id=@cliente.Id">Editar</a>
                    <a href="/Home/Eliminar?id=@cliente.Id" class="text-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
